.contact {
    .contact-text {
        opacity: 0;
        animation: fadeInUp 2s 1s;
        animation-fill-mode: forwards;
    }
    form {
        opacity: 0;
        animation: fadeInUp 2s 1s;
        animation-fill-mode: forwards;
    }
}