@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      @apply bg-neutral-200;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      @apply bg-cyan-600;
      border-radius: 100vh;
      @apply border-lime-50 border-solid border-[3px];
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-cyan-800;
    }
}

body {
    @apply overflow-y-scroll scrollbar;
    
}

html {
    scroll-padding-top: 80px;
}


@-webkit-keyframes rubberBand {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}

	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1)
	}

	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1)
	}

	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1)
	}

	65% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1)
	}

	75% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1)
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}

@keyframes rubberBand {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}

	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		-ms-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1)
	}

	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		-ms-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1)
	}

	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		-ms-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1)
	}

	65% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		-ms-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1)
	}

	75% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		-ms-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1)
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}

span.rubber:hover {
  -webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  -webkit-animation-name: rubberBand;
	animation-name: rubberBand;
}

@keyframes spin {
	0% {
	  transform: rotateY(0deg) rotateX(30deg);
	  border-bottom-color: lighten(#0891B2, 5%);
	}
	25% {
	  transform: rotateY(90deg) rotateX(30deg);
	  border-bottom-color: darken(#0891B2, 5%);
	  opacity: 1;
	}
	25.1% {
	  opacity: 0;
	}
	50% {
	  transform: rotateY(180deg) rotateX(30deg);
	  border-bottom-color: darken(#0891B2, 12%);
	}
	74.9% {
	  opacity: 0;
	}
	75% {
	  transform: rotateY(270deg) rotateX(30deg);
	  border-bottom-color: darken(#0891B2, 15%);
	  opacity: 1;
	}
	100% {
	  transform: rotateY(360deg) rotateX(30deg);
	  border-bottom-color: lighten(#0891B2, 5%);
	}
  }

.stack {
	position: absolute;
	right: 10rem;
    top: 4rem;
  	width: 0;
  	height: 0;
  	border-left: 120px solid transparent;
  	border-right: 120px solid transparent;
  	border-bottom: 220px solid #0891B2;
	transform-origin: 50% 0%;
	animation: spin 8s infinite linear;
}
.stack.angular {
	@apply border-b-red-600;
}
.stack.react {
	@apply border-b-cyan-400;
}
.stack.vue {
	@apply border-b-teal-600;
}

.react {
	animation-delay: -6s;
}
.angular {
	animation-delay: -2s;
}
.vue {
	animation-delay: -4s;
}

@keyframes shadow {
	0% {
	  transform: rotateX(90deg) rotateZ(0deg);
	}
	100% {
	  transform: rotateX(90deg) rotateZ(-360deg);
	}
  }

.shadow {
	position: absolute;
	top: 300px;
	left: 175px;
	width: 50px;
	height: 50px;
	background-color: #bbb;
	box-shadow: 0 0 40px 40px #bbb;
	animation: shadow 5+s infinite linear;
  }